<app-navbar></app-navbar>
<section class= "section1">
    <div class= "container">
      <h1 class= "title">ABOUT US</h1>
      <div class= "content-wrapper">
        <div class= "img-wrapper">
          <div class= "img"></div>
        </div>
        <div class="text-wrapper">
          <p class= "text">Now book train tickets from anywhere at the comfort of home.Easy booking and cancellation process with on time refunds.
          </p>
          <p class= "text">For more Information on Refund Policy, please refer to Terms and Conditions.
          </p>
          <div class="btn-wrapper">
            <a href="#" class="btn">
              <span>More</span>
            </a>
          </div>
        </div>
     </div>
    </div>
  </section>
  <section class= "section2"></section>