<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <img class="logo" src="assets\Images\Logo White.png" width="35" height="35" >
    <a class="navbar-brand"  font routerLink="/login/admin/dashboard">Locomotive</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item active">
          <a class="nav-link" ><mat-icon>people</mat-icon> Hello, Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()"><mat-icon> vpn_key</mat-icon>Logout</a>
        </li>
       </ul>
    </div>
  </nav>