<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.applicationHost" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <system.applicationHost>
    <sites>
      <site name="RailwaySystem.API" id="1">
        <application path="/" applicationPool="Clr4IntegratedAppPool">
          <virtualDirectory path="/" physicalPath="E:\GKM\Projects\RailwaySystem\RailwaySystem.API-master\RailwaySystem.API" />
        </application>
        <bindings>
          <binding protocol="http" bindingInformation="*:51437:localhost" />
          <binding protocol="https" bindingInformation="*:44389:localhost" />
        </bindings>
      </site>
    </sites>
    <applicationPools>
      <add name="Clr4IntegratedAppPool" managedRuntimeVersion="v4.0" />
    </applicationPools>
  </system.applicationHost>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
