/* * {
    margin-top: 8px;
} */

.footer {
    /* margin-top: 10px; */
    background: black;
    color: #d3d3d3;
    height: 260px;
    position: relative;
    
    
}

.footer .footer-content {
    border: 0px solid;
    height: 260px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
    font-size: 15px;
}

.footer .footer-content h1,
.footer .footer-content h2 {
    color: white;
}

.footer .footer-content .about h1 span {
    color: rgb(25, 133, 133);
}

.footer .footer-content .Social-media .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .Social-media .socials a {
    border: 1px solid grey;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
}

.footer .footer-content .Social-media .socials a:hover {
    border: 1px solid rgb(25, 133, 133);
    color: rgb(25, 133, 133);
    transition: all .3s;
}

.footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
}

.footer .footer-content .links ul a:hover {
    color: rgb(25, 133, 133);
    margin-left: 15px;
    transition: all .3s;
}

a {
    color: beige;
    text-decoration: none;
}