<app-admin-navbar></app-admin-navbar>
<div class="jumbotron">
<div class="container">
    <div class="row mb-3">
        <div class="col">
    <div class="card" style="width: 20rem; height: 20rem;">
     
        <div class="card-body" routerLink="/login/admin/dashboard/save-train">
          <div class="card-label" style="z-index: -1; text-align: center;"><b>Trains</b></div>
          <img src="assets\Images\Train_Logo.png">
         
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 20rem;height: 20rem;">
        <div class="card-body" routerLink="/login/admin/dashboard/save-seats">
          <div class="card-label" style="z-index: -1; text-align: center;"><b>Seats</b></div>
          <img src="assets\Images\Seat Logo.png">
          
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 20rem;height: 20rem;">
        <div class="card-body" routerLink="/login/admin/dashboard/report">
          <div class="card-label" style="z-index: -1; text-align: center;"><b>Customers</b></div>
          <img src="assets\Images\People Logo.png" width="18rem">
          
        </div>
      </div>
    </div>
</div>
</div>