<app-user-navbar></app-user-navbar>
<div class="jumbotron">
	<br>
	<br>
<div id="main">
		<div class="ticket-main" id="ticket" #ticket>
			<div class="ticket-top">
			</div>

			<div *ngFor="let ticketData of ticketData" class="ticket-middle">

				<div class="middle-row middle-1">
					<span class="ticket-label middle-class">Train Id</span>
                    <span class="ticket-label middle-class">Train Name</span>
					<span class="ticket-label middle-type">Arriavl Station</span>
					<span class="ticket-label middle-adult">Departure Station</span>
					
				</div>
					<div *ngIf="ticketData" class="middle-row middle-1-1">
                    <span class="ticket-detail-large middle-class">{{ticketData.TrainId}}</span>
                    
					<span class="ticket-detail-large middle-class">{{ticketData.Name}}</span>
                    
					<span class="ticket-detail-large middle-type">{{ticketData.ArrivalStation}}</span>
					<span class="ticket-detail-large middle-class middle-type">{{ticketData.DepartureStation}}</span>
					
					
				</div>
				<div  class="middle-row middle-2">
					<span class="middle-railcard-spacer ticket-label">Arrival Date</span>
					<span class="ticket-label middle-startdate">Arrival Time</span>
				    <span class="ticket-label middle-number">Departure Date</span>
                    <span class="ticket-label middle-number">Departure Time</span>
				</div>
				<div *ngIf="ticketData" class="middle-row middle-2-2">
					<span class="ticket-detail middle-railcard-spacer">{{ticketData.ArrivalDate}}</span>
					<span class="ticket-detail middle-startdate">{{ticketData.ArrivalTime}}</span>
					<span class="ticket-detail middle-startdate">{{ticketData.DepartureDate}}</span>
					<span class="ticket-detail middle-longnumber">{{ticketData.DepartureTime}}</span>
				</div>
				<div class="middle-row middle-3">
					<span class="ticket-label middle-from">Passenger Name</span>
					<span class="ticket-label middle-valid">Age</span>
					<span class="ticket-label middle-valid">Gender</span>
                    <span class="ticket-label middle-valid">Class</span>
				</div>
				<div *ngIf="ticketData" class="middle-row middle-3-3">
					<span class="ticket-detail middle-from">{{ticketData.PName}}</span>
					<span class="ticket-detail middle-valid">{{ticketData.Age}}</span>
					<span class="ticket-detail middle-valid">{{ticketData.gender}}</span>
                    <span class="ticket-detail middle-valid">{{ticketData.Class}}</span>
				</div>
				<div class="middle-row middle-4">
					<span class="ticket-label middle-to">BookingId</span>
					<span class="ticket-label middle-route">Seat Number</span>
                    <span class="ticket-label middle-route">Fare</span>
					
				</div>
				<div *ngIf="ticketData" class="middle-row middle-4-4">
					<span class="ticket-detail middle-to">{{ticketData.BookingId}}</span>
					<span class="ticket-detail middle-route">{{ticketData.SeatNum}}</span>
					<span class="ticket-detail middle-route">{{ticketData.fare}}</span>
				</div>
			</div>

			<div class="ticket-bottom">
				<div class="ticket-logo-2-container">
					<div class="ticket-logo"></div>
				</div>
				
			</div>
		</div>
        <button class="btn btn-primary" (click)="Download()"> Download PDF</button>
		<br>
		<h3>*Passenger shall have to carry and show identity card in original while travelling </h3>
	</div>