<app-admin-navbar></app-admin-navbar>
<div class="jumbotron">
  <div class="container">
    <h2><b>Train Details.</b></h2>
    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"
      (click)="clickAddTrain()"><mat-icon>library_add</mat-icon> Add Train</button>
    <br>
    <br>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Train Id</th>

          <th>Name</th>
          <th>Arrival Time</th>
          <th>Departure Time</th>
          <th>Arrival Date</th>
          <th>Departure Date</th>
          <th>Arrival Station</th>
          <th>Departure Station</th>
          <th>Distance</th>
          <th>IsActive</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of trainData">
          <td>{{row.TrainId}}</td>
          <td>{{row.Name}}</td>
          <td>{{row.ArrivalTime}}</td>
          <td>{{row.DepartureTime}}</td>
          <td>{{row.ArrivalDate}}</td>
          <td>{{row.DepartureDate}}</td>
          <td>{{row.ArrivalStation}}</td>
          <td>{{row.DepartureStation}}</td>
          <td>{{row.distance}}</td>
          <td>{{row.isActive}}</td>
          <td>
            <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"
              class="btn btn-danger" style="margin-right: 5px;"
              style="margin-bottom:2.5px;"><mat-icon>edit</mat-icon>Edit</button>
            <button (click)="deleteTrain(row.TrainId)" class="btn btn-danger"><mat-icon>delete</mat-icon>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <!--modal-->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="showAdd" class="modal-title" id="exampleModalLongTitle">Add Train</h5>
          <h5 *ngIf="showUpdate" class="modal-title" id="exampleModalLongTitle">Update Train</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div *ngIf="showUpdate" class="form-group">
              <label>TrainId</label>
              <input type="text" class="form-control" id="TrainId" placeholder="Enter TrainId"
                formControlName="TrainId">
            </div>
            <div class="form-group">
              <label>Train Name</label>
              <input type="text" class="form-control" id="Name" placeholder="Enter  Name" formControlName="Name" >
            </div>
            <div>
              <label for="exampleInputEmail1">Departure Date</label>
              <input type="date" class="form-control" id="DepartureDate" placeholder="DepartureDate"
                formControlName="DepartureDate" >
            </div>
            <div>
              <label for="exampleInputEmail1">Departure Time</label>
              <input type="time" class="form-control" id="DepartureTime" placeholder="DepartureTime"
                formControlName="DepartureTime" >
            </div>
            <div>
              <label for="exampleInputEmail1">Arrival Date</label>
              <input type="date" class="form-control" id="ArrivalDate" placeholder="ArrivalDate"
                formControlName="ArrivalDate" >
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Arrival Time</label>
              <input type="time" class="form-control" id="ArrivalTime" placeholder="ArrivalTime"
                formControlName="ArrivalTime" >

            </div>


            <div>
              <label for="exampleInputEmail1">Departure Station</label>
              <input type="text" class="form-control" id="DepartureStation" placeholder="DepartureStation"
                formControlName="DepartureStation" >
            </div>
            <div>
              <label for="exampleInputEmail1">Arrival Station</label>
              <input type="text" class="form-control" id="ArrivalStation" placeholder="ArrivalStation"
                formControlName="ArrivalStation" >
            </div>

            <div>
              <label for="exampleInputEmail1">Distance</label>
              <input type="text" class="form-control" id="Distance" placeholder="Distance" formControlName="Distance" >
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button id="cancel" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button *ngIf="showAdd" (click)="postTrainDetails()" type="button" class="btn btn-success">Save </button>
          <button *ngIf="showUpdate" (click)="updateTrain()" type="button" class="btn btn-success">Update </button>
        </div>
      </div>
    </div>
  </div>
</div>
